{% extends 'users/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        {% if phone_form %}
            <h2>Введите номер телефона</h2>
            <form method="post" action="{% url 'users:phone_auth' %}">
                {% csrf_token %}
                <label for="phone">Номер телефона:</label>
                <input type="text" id="phone" name="phone" value="{{ phone_form.phone.value }}">
                <button type="submit" class="btn btn-primary">Получить код подтверждения</button>
            </form>
        {% endif %}

        {% if verification_result %}
            <div class="alert alert-{{ verification_result_color }}" role="alert">
                {{ verification_result_message }}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
