<!-- enter_phone.html -->

{% extends 'users/base.html' %}

{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h2>Присоединяйтесь прямо сейчас!</h2>
      <p>Введите ваш номер телефона (без пробелов и дефисов):</p>
      <form method="post" action="{% url 'users:phone_auth' %}" class="form-container">
        {% csrf_token %}
        <div class="form-group">
          <label for="phoneInput">Номер телефона:</label>
          <input type="text" class="form-control" id="phoneInput" name="phone" placeholder="Например, 375291234567" required pattern="[0-9]{12}">
          <small id="phoneHelp" class="form-text text-muted">Мы отправим вам SMS-код для подтверждения номера телефона.</small>
        </div>
        <button type="submit" class="submit-btn">Отправить SMS-код</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
