<!-- enter_sms_code.html -->

{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Введите код подтверждения</h2>
        <form method="post" action="{% url 'users:verify_code' %}">
            {% csrf_token %}
            <input type="hidden" name="phone_number" value="{{ phone_number }}">
            <div class="form-group">
                <label for="verificationInput">Код подтверждения:</label>
                <input type="text" class="form-control" id="verificationInput" name="verification_code" placeholder="Код подтверждения" required>
            </div>
            <button type="submit" class="btn btn-primary">Проверить код</button>
        </form>
    </div>
</div>
{% endblock %}
