<!-- navbar.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'users:home' %}">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <!-- Если пользователь аутентифицирован, показываем ссылки на профиль и кнопку выхода -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:user_profile' %}">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'users:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link">Выход</button>
                        </form>
                    </li>
                {% else %}
                    <!-- Если пользователь не аутентифицирован, показываем ссылку на вход -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:phone_auth' %}">Вход</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>